.loading-container {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
}

.loading {
  position: relative;
  pointer-events:none;
  text-align:center;
  margin: 0 auto;
  top: calc(50vh - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #dd0000;
  border-right-color: transparent;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); opacity:1; }
  50%  { -webkit-transform: rotate(180deg); opacity: 1; }
  100%   { -webkit-transform: rotate(360deg); opacity:1; }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); opacity: 1; }
  50%  { -moz-transform: rotate(180deg); opacity: 1; }
  100%   { -moz-transform: rotate(360deg); opacity:1; }
}

@-ms-keyframes spin     {
  0% { -ms-transform: rotate(0deg); opacity: 1; }
  50%  { -ms-transform: rotate(180deg); opacity: 1; }
  100%   { -ms-transform: rotate(360deg); opacity:1; }
}
