<p>
  <a [routerLink]="['/']">もどる</a>
</p>

<h2>記事の作成</h2>

<div *ngIf="!isCompleted" class="u-full-width">
  <div>
    <label>記事タイトル</label>
    <input type="text" 
      placeholder="タイトル" 
      class="u-full-width" 
      value="{{ article.title }}" 
      (change)="titleChanged($event)" 
      [attr.disabled]="isProcessing ? true : null">
  </div>
  <div>
    <label>本文</label>
    <textarea
      class="u-full-width article__body"
      placeholder="本文" 
      rows="10"
      value="{{ article.body }}"
      (change)="bodyChanged($event)"
      [attr.disabled]="isProcessing ? true : null">
    </textarea>
  </div>
  <button class="button-primary"
    (click)="registerButtonClicked()"
    [attr.disabled]="isProcessing ? true : null">
    登録
  </button>
</div>
<div *ngIf="isCompleted">
  <a [routerLink]="['/']">一覧にもどる</a>
</div>
