<h2>記事の更新</h2>
<div *ngIf="!isCompleted">
  <div *ngIf="article">
    <div>
      <label>記事タイトル</label>
      <input type="text"
        placeholder="タイトル"
        class="u-full-width" 
        value="{{ article.title }}" 
        (change)="titleChanged($event)" 
        [attr.disabled]="isProcessing ? true : null">
    </div>
    <div>
      <label>本文</label>
      <textarea placeholder="本文"
        rows="10"
        (change)="bodyChanged($event)"
        class="u-full-width"
        value="{{ article.body }}"
        [attr.disabled]="isProcessing ? true : null">
      </textarea>
    </div>
    <div>
      <button class="button-primary"
        [attr.disabled]="isProcessing ? true : null" 
        (click)="updateButtonClicked()">
        更新
      </button>
      <button class="button-primary" 
        [attr.disabled]="isProcessing ? true : null" 
        (click)="deleteButtonClicked()">
        削除
      </button>
  </div>
</div>
<div *ngIf="isCompleted">
  完了しました。
</div>
